{{#each this}}
<p class="counrtyName">{{name}}</p>
<div class="data">
    <ul class="dataList">
        <li class="dataItem">Capital: <span class="value">{{capital}}</span></li>
        <li class="dataItem">Population: <span class="value">{{population}}</span></li>
        <li class="dataItem">Languages:
            <ul class="languageList value"> {{#each languages}}

                <li class="lenguage">{{this.name}}</li>
                {{/each }}
            </ul>
        </li>
    </ul>
    <img src="{{flag}}" alt="" class="flag">
</div>
{{/each}}